extends ../layout

block content
  .col-sm-8.col-sm-offset-2
    form(method='POST')
      legend Forgot Password
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        p Sorry, password reset is not suppored currently. Please contact administrator to help reset your password.
        p 抱歉, 请联系管理员重置您的密码。目前本应用不支持在线更改密码。 