extends layout

block content
  h1 Welcome to 为民团购！
  p.lead Focusing on servicing community 专注服务社区
  hr
  .row
    .col-sm-6
      h2 Products Available Today 
      h2 今日销售产品
      p 此处应该有一个产品列表，可供客户输入数量进行采购
      p
        a.btn.btn-default(href='#', role='button') Sumit 提交订单
    //- .col-sm-6
    //-   h2 Heading
    //-   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-   p
    //-     a.btn.btn-default(href='#', role='button') View details »
    //- .col-sm-6
    //-   h2 Heading
    //-   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-   p
    //-     a.btn.btn-default(href='#', role='button') View details »
    //- .col-sm-6
    //-   h2 Heading
    //-   p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-   p
    //-     a.btn.btn-default(href='#', role='button') View details »